*.o
*.bak
*.orig
*.diff
*.patch
*.so
*.a
*.la
*.lo
*.pyc
*.page
*.swp
build*
compile
*~
core.*

Makefile
Makefile.in
core
log
.deps
.libs
.dirstamp

/INSTALL

/aclocal.m4
/autom4te.cache
/autoregen.sh
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
